<h1>Creating New Class</h1>
<%= form_for @changeset, Routes.school_mgt_path(@conn, :create), fn f -> %>
<h2>Name:</h2>
<%= text_input f, :name %>
<h2>Section:</h2>
<%= text_input f, :section %>
<%= submit "Add" %>
<% end %>
<%= link "Back to home", to: Routes.school_mgt_path(@conn, :index) %>
