<h1>Editing</h1>
<%= form_for @changeset, Routes.class_room_student_path(@conn, :update, @class_room_id, @student), fn f -> %>
    <h2>Name:</h2>
    <%= text_input f, :name %>
    <h2>Age:</h2>
    <%= text_input f, :age %>
    <%= submit "Save" %>
<% end %>
<%= link "Back to students page", to: Routes.class_room_path(@conn, :show, @class_room_id) %>
