<h1>Adding new Student</h1>
<%= form_for @changeset, Routes.class_room_student_path(@conn, :create, @class_room_id), fn f -> %>
  <h2>Name:</h2>
  <%= text_input f, :name %>
  <h2>Age:</h2>
  <%= text_input f, :age %>
  <%= submit "Add" %>
<% end %>
<%= link "Back to students page", to: Routes.class_room_path(@conn, :show, @class_room_id) %>
